@font-face {
  font-family: "Mukta-ExtraLight";
  font-style: normal;
  font-weight: 100;
  src: url("~assets/fonts/Mukta-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Mukta-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("~assets/fonts/Mukta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mukta-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("~assets/fonts/Mukta-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mukta-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("~assets/fonts/Mukta-Bold.ttf") format("truetype");
}
