header.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &.nav-opened {
    div.header-fast_contacts,
    div.header-nav {
      position: relative;
      z-index: 60;
    }

    div.header-nav {
      .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      .bar2 {
        width: 0;
      }

      .bar3 {
        transform: rotate(45deg) translate(-6px, -8px);
      }
    }
  }

  div.header-nav {
    padding: 5px 0;
    cursor: pointer;

    div {
      width: 25px;
      height: 3px;
      background-color: $white;
      margin: 6px 0;
      transition: all 0.3s ease-in-out;

      &.bar2 {
        width: 20px;
        margin-left: auto;
      }
    }
  }

  div.header-fast_contacts {
    display: flex;
    align-items: center;

    p.header-fast_contracts-email {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;

      &::after {
        display: inline-block;
        content: "";
        margin: 0 20px;
        width: 1px;
        background: $white;
        height: 35px;
        color: $white;
      }
    }

    p.header-fast_contracts-phone {
      color: $white;
    }
  }
}
