.swiper-container.swiper-home-showcase {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  div.swiper-slide-image {
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
  }

  div.swiper-slide-content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 75px 0;

    &-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      border: 1px $white solid;
    }

    h4.swiper-slide-wrapper-title {
      color: white;
      font-family: "Satisfy";
      font-size: 60rem;
      margin-bottom: 50px;
      text-align: center;
    }

    button.swiper-slide-wrapper-ctn {
      color: white;
      width: max-content;
      margin: 0 auto;
      padding: 15px 25px;
      border: 1px solid white;
      background: rgba(255, 255, 255, 0.05);
      font-family: "Mukta-ExtraLight";
      letter-spacing: 2px;
      transition: background 0.3s ease-in;
      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  div.swiper-controller {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    padding: 20px 0;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    div.swiper-pagination.swiper-pagination-bullets {
      bottom: auto;
      top: auto;

      span.swiper-pagination-bullet {
        color: $white;
        background: $white;
        margin: 0 8px;
        opacity: 1;

        &-active {
          color: $black;
          background: $black;

          &::after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: $white;
            position: relative;
            z-index: -1;
            border-radius: 100px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    div.swiper-button {
      &-next,
      &-prev {
        bottom: auto;
        top: auto;
        height: auto;
        color: white;
        text-transform: uppercase;
        font-size: 15rem;
        font-family: "Mukta-ExtraLight";
        margin: 0;
        position: relative;

        &::after {
          display: none;
        }
      }
    }
  }
}
